.deliveryAddress h2 {
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--mytext-color);
  line-height: 1.75rem;
  margin: 0;
  cursor: pointer;
  display: inline;
  margin-right: 2rem;
}

.deliveryAddress {
  /* display: flex;
  justify-content: flex-start;
  gap: 2rem; */
  /* margin-top: 2.5rem;
  padding-top: 2.5rem;
  border-top: 1px solid var(--mytext-color); */
}
.addressContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 1rem;
  row-gap: 1.5rem;
  margin-top: 1rem;
}

.addressContainer label {
  display: block;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--mytext-color);
}
.addressContainer input {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  border-radius: 0.375rem;
  background-color: var(--mytext-color);
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--mytext-color);
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.addressContainer input:focus {
  outline: none;
  border-color: #001d27;
  background-color: var(--mytext-color);
}

.address,
.apartment,
.phone {
  grid-column-start: span 2;
  grid-column-end: span 2;
}

.button_wrapper {
  text-align: left;
  font-weight: 500;
}

.button_wrapper button {
  padding: 0.5rem 2rem;
  background: #002e3f;
  color: var(--mytext-color);
  border: none;
  border: 1px solid var(--mytext-color);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
