.showIcon,
.showCart {
  display: none;
}

.showIcon:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-out 0.2s;
}

@media screen and (max-width: 921px) {
  .showIcon {
    display: block;
  }
  .showCart {
    display: inline-block;
  }
  .barCart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 11rem;
  }
}
